<div class="container anchor" id="timething">
	<h1>What we do</h1>
	<%= image_tag("bike.jpg", :class => "style_ image img-responsive indexpic") %>
	<!--p>Welcome! The date and time is <%#= Time.now %></p-->
	<p>Bicycle rights 90's knausgaard vice you probably haven't heard of them, craft beer viral tote bag austin offal cornhole. XOXO leggings pitchfork blog small batch viral. Authentic ethical selvage deep v PBR&B, migas freegan lomo master cleanse direct trade sartorial chicharrones fanny pack. Blue bottle pabst literally mumblecore, banjo organic aesthetic. Drinking vinegar brooklyn leggings keytar mixtape tote bag cronut. Godard before they sold out direct trade, shoreditch humblebrag wayfarers kale chips artisan taxidermy retro sustainable PBR&B organic vegan. Next level blog kale chips, leggings seitan pabst keytar.</p>
	
</div>
