// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	font-family: Brush Script MT;
	color: red;
	text-align: center;
}

h1 {
	padding-top: 25px;
}

/*#navigationbar {
	background-color: #D3360B;
	font-weight: 400;
    color: white;
	font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}*/
 
h2 {
	text-align: center;
}

.style_image {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
	text-align: center;
}

/*#foot {
	height: 100px;
	background-color: grey;
}

#foot p {
	text-align: center;
	padding-top: 35px;
	color: white;
	text-transform: uppercase; 
}*/
/**** sticky footer ****/
* {
    margin: 0;
}
html, body {
    height: 100%;
    background-color:#eaeaea;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's         height */
    border:solid 1px red;
}
.footer, .push {
    height: 155px; /* '.push' must be the same height as 'footer' */
}
.footer {
    border:solid 1px blue;
    background-color: grey;
}

.footer p {
	padding-top: 40px;
	text-transform: uppercase;
	color: white;
	font-size: 1em;

}