// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	font-family: Brush Script MT;
	color: red;
	text-align: center;
}

h1 {
	padding-top: 25px;
}

/*#navigationbar {
	background-color: #D3360B;
	font-weight: 400;
    color: white;
	font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}*/
 
h2 {
	text-align: center;
}

.style_image {
	display: block;
    margin-left: auto;
    margin-right: auto 
}

p {
	text-align: center;
}

#foot {
	height: 100px;
	background-color: grey;
}

#foot p {
	text-align: center;
	padding-top: 35px;
	color: white;
	text-transform: uppercase; 
}