// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	padding-top: 61px;
	background-color: white;
}

#navigacion {
	background-color: #4876FF;
	color: white;
}

#navigacion ul li a {
	color: white;
}

#logouts {
	padding-top: 6px;
}

.carousel-inner {
	height: 100%;
	max-width: auto;
	/*margin-right: 300px;
	margin-left: 300px;*/
	background-color: white;
}

#carusel {
	padding-left: 0px;
	padding-right: 0px;
	height: 100%;
}

.old {
	font-family: Tahoma;
	color: red;
	text-align: center;
	padding-top: 50px;
}

.old h1 h2 {
	color: red;
}

#bberl a {
	text-decoration: none;
	color: white;
	background-color: #4876FF;
}

.feature {
	text-align: center;
	color:red;
}

/*#navigationbar {
	background-color: #D3360B;
	font-weight: 400;
    color: white;
	font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}*/

/*.style_image {
	display: block;
    margin-left: auto;
    margin-right: auto;
}*/

.img-responsive {
	max-width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*#foot {
	height: 100px;
	background-color: grey;
}

#foot p {
	text-align: center;
	padding-top: 35px;
	color: white;
	text-transform: uppercase; 
}*/
/**** sticky footer ****/
/** {
    margin: 0;
}

html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -80px; 
    border:solid 1px red;
}
.footer, .push {
    height: 80px; 
}
.footer {
    border:solid 1px blue;
    background-color: red;
}

.footer p {
	padding-top: 40px;
	text-transform: uppercase;
	color: white;
	font-size: 1em;
}*/

/*** Sticky footer end ***/


.loco {
	text-transform: lowercase;
}

/*table {
	margin-left: auto;
	margin-right: auto;
}*/

.crazy {
	text-align: center;
}

.new {
	font-family: Tahoma;
	text-align: center;
	color: red;
}

#contacto {
	text-align: center;
}

#sobre {
	text-align: center;
	color: red;
}

#sobre p {
	color: blue;
}

#timething p {
	text-align: center;
	color: blue;
}

/*** index.html.erb ***/

#productos {
	text-align: center;
	background-color: #FFFAFA;
    box-shadow:
        0 1px 1px rgba(0,0,0,0.15), /* The top layer shadow */
        0 10px 0 -5px #eee, /* The second layer */
        0 10px 1px -4px rgba(0,0,0,0.15), /* The second layer shadow */
        0 20px 0 -10px #eee, /* The third layer */
        0 20px 1px -9px rgba(0,0,0,0.15); /* The third layer shadow */
    
}

#productos h1 {
	font-family: Comic Sans, Comic Sans MS, cursive;
	 text-shadow: 1px 1px 1px #000, 3px 3px 5px red; 
}

#productos p {
	font-family: Verdana;
	font-size: 1em;
	color: blue;
}

/*** new.html.erb ***/
.newproduct {
	color: red;
	font-family: Tahoma;
	text-align: center;
}

/*** form.html.erb ***/

/*.field {
	text-align: center;
}

.actions {
	text-align: center;
}

.zeit h1 {
	text-align: center;
}*/

/***form_for ***/

#formfor {
	margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    max-width: 300px;
    position: relative;
}

.field, .actions {
	font-family: "Trebuchet MS";

}

#formfor .form-control {
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	/*-webkit-border-radius: 5px; */
	border: 2px solid grey;
}

/***form_tag ***/

.format {
	display: inline-block;
}

label.form-control {
	background-color: red;
	color: black;
	margin-top: 5px;
	font-family: Tahoma;
}

/*** login page ***/

#lokin {
	text-align: center;
	max-width: 250px;
	padding: 15px;
	margin: 0 auto;
}

#lokin #imail {
	height: 19px;
}

#lokin #pas {
	height: 25px;
}

/*** sign_up page ***/

#sainap {
	text-align: center;
	max-width: 250px;
	padding: 15px;
	margin: 0 auto;
}

#sainap #paswan {
	height: 19px;
}

/*** edit page ***/

#sainapedit {
	text-align: center;
	max-width: 250px;
	padding: 15px;
	margin: 0 auto;
}

/*** Show page ***/

.showpic {
	padding-top: 50px;
}

.bigshowpic {
	padding-top: 50px;
	padding-bottom: 50px;
}

/*** new-comment page ***/

#reviu {
	text-align: center;
}

/*** all_comments page ***/

.product-reviews {
	text-align: center;
}

