
<!--h1 class="zeit"><%#= render 'hello' %></h1-->

<p id="notice"><%= notice %></p>


<div class="container-fluid anchor">
	<div class="new">
		<h1>Our Bikes</h1>
	</div>
  <div class="row" id="productos">
    <% cache(cache_key_for_products) do %>
    <%= render @products %>
    <%#= render "product" %>
    <% end %>
  </div>
</div>



<br>

<%= link_to 'New Product', new_product_path %>
