
<h1 class="zeit"><%= render 'hello' %></h1>
<p id="notice"><%= notice %></p>
<h1 class="new">Listing Products</h1>

<div class="container-fluid">
  <div class="row" id="productos">
    <% cache(cache_key_for_products) do %>
    <%= render @products %>
    <% end %>
  </div>
</div>



<br>

<%= link_to 'New Product', new_product_path %>
